# History and user-specific files
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Rproj.user/

INDEX
data-raw/*
!data-raw/prepare_datasets.R


# Project files
*.RProj

# Build and check outputs
*.tar.gz
*.Rcheck/

# Knitr and R Markdown files
*_cache/
/cache/
*.utf8.md
*.knit.md

# Produced vignettes and RStudio Connect
vignettes/*.html
vignettes/*.pdf

# Data and temporary files
*.rdb
*.rdx
*.rds

# macOS and RStudio files
.DS_Store
docs/
po/*~

/help/
/html/
/extdata/
